# mantenuto la struttura originale del file di Alpine 

[server]

[mysqld]
# mysqld è il daemon standalone

# Abilita connessioni TCP/IP
skip-networking=0

# Ascolta su tutte le interfacce
# Wordpress puo' connettersi dalla rete Docker
bind-address=0.0.0.0

# Socket e datadir standard Alpine
datadir=/var/lib/mysql
socket=/run/mysqld/mysqld.sock
port=3306